header {
    text-align: center;
}

.search {
    display: flex;
    flex-flow: column;
    border: 5px;
    border-style: solid;
    width: 20%;
    float: left;
    text-align: center;
}

.search-box {
    margin: 5px 5px 5px 5px;
}

.search-btn {
    margin: 5px 5px 5px 5px;
    height: 45px;
    background-color: rgb(0, 105, 105);
    font-weight: bold;
    color: aliceblue;
    border-radius: 15px;
}

.previous-search {
    text-align: center;
}

.city {
    display: flex;
    flex-flow: column;
    border: 5px;
    border-style: solid;
    width: 75%;
    margin-left: 21%;
    font-weight: bold;
    font-size: large;
}

.city-text {
    margin: 5px;
}

.forecast {
    display: flex;
    flex-flow: row;
    border: 5px;
    border-style: solid;
    width: 75%;
    margin-left: 21%;
    justify-content: center;
}

.forecast-card {
    border-style: solid 2px blue;
    display: flex;
    flex-flow: row;
    width: 200px;
    height: 500px;
}